body{
    overflow: hidden;
}

#erroricon{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}


.errormessage{
    margin: 8px;
    color: white;
}

#name-desc{
    padding-bottom: 2%;

}

.content{
    padding: 1%;
}

#copyrightcontainer{
    padding-top: 0%;
}

@media only screen and (hover: none) and (pointer: coarse) {

    #erroricon{
        width: 80px;
    }

    .errormessage{
        font-size: 2rem;
        color: white;
    }

    #name-desc{
        padding-bottom: 5%;
    
    }
    
    .content{
        padding-top: 4rem; 
        padding-bottom: 4rem;
    }

    #copyrightcontainer{
        padding-top: 20px;
    }
}