#features{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color:#405a9d;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px;    
}

.featureitem{
    color: white;
    flex-wrap: wrap;
    margin-bottom: 10%;
    height: 130px;
    margin: auto;
    padding-bottom: 70px;    
    

}

.featureitem h3{
    display: inline;
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.7em;
    font-weight:400;
    line-height: 1.2;
}

.featureitem p{
    margin: 0;
    width: 400px;
}

.featureitem svg{
    width: 40px;
    margin-right: 2.5vw;
    float: right;
}

#team{
    justify-content: space-between;
}

.team-member{
    max-width: 320px;
    height: 570px;
    margin: auto;
}
.team-member-avatar{
    border-radius: 50%;
    width: 320px;
    height: 320px;
    display: block;
}
.team-member-socials{
    display: inline;
    padding-left: 10px;
}
.team-member-socials a svg {
    width: 22px;
}
.team-member h3, .team-member p{
    display: block;
    color:white;
    margin: 0;
}
.team-member h3{
    display: inline;
    margin-top: 10px;
    font-size:1.75rem;
}

#leaddev{
    color: #7139cc !important;
}

.supportdev{
    color: #dc3545 !important;
}

#invitebutton{
    width: 100px;
    height: 50px; 
    background-color:#343a40; 
    margin: auto; 
    border-color:#0d6efd;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content:center;
}

#invitebutton a{
    font-size: 1em;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #features{
        flex-direction: column;
        font-size: 2rem;
    }

    .featureitem p{
        width: 800px;
    }
    
    .featureitem{
        margin-bottom: 10%;
        padding-bottom: 20%;    
        width: 80vw;
    }

    .featureitem:last-child{
        padding-bottom: 0%;    
    }

    .featureitem svg{
        width: 80px;
    }

    #team{
        flex-direction: column;
    }

    .team-member{
        max-width: 800px;
        height: fit-content;
        margin: auto;
        padding-bottom: 10%;
    }

    .team-member-avatar{
        margin: auto;
        width: 50vw;
        height:  50vw;
    }

    .team-member-socials{
        padding-left: 10px;
    }

    .team-member-socials a svg {
        width: 40px;
    }

    .team-member h3{
        margin-top: 10px;
        font-size: 3rem;
    }

    .team-member p{
        font-size: 2rem;
    }

    #invitebutton{
        width: 200px; 
        height: 100px;
    }

    #invitebutton a{
        font-size: 2em;
    }
    
}